[opener]
edit = [
    { run = 'nvim "$@"', block = true, for = "unix" }
]
play = [
    # orphan = true значит "запустить и отпустить" (не блокировать yazi)
    { run = 'mpv "$@"', orphan = true, for = "unix" }
]

# 2. Назначаем правила
[open]
rules = [
    # 1. Явные расширения (самый надежный способ)
    { name = "*.nix",  use = "edit" },
    { name = "*.toml", use = "edit" },
    { name = "*.json", use = "edit" },
    { name = "*.yaml", use = "edit" },
    { name = "*.yml",  use = "edit" },
    { name = "*.ini",  use = "edit" },
    { name = "*.conf", use = "edit" },
    { name = "*.lua",  use = "edit" },
    { name = "*.md",   use = "edit" },
    { name = "*.txt",  use = "edit" },
    { name = "*.sh",   use = "edit" },
    { name = "*.zsh",  use = "edit" },

    # 2. Если расширения нет, проверяем MIME-тип
    { mime = "text/*", use = "edit" },
    { mime = "application/json", use = "edit" },
    { mime = "application/javascript", use = "edit" },
    { mime = "application/x-shellscript", use = "edit" },

    # Если тип файла video/... -> запускай play
    { mime = "video/*", use = "play" },
    #{ mime = "audio/*", use = "play" },
]
