window {
    margin: 0px;
    border: 2px solid #504945; /* Цвет рамки (Gruvbox gray) */
    background-color: #282828; /* Темный фон */
    border-radius: 12px;
    font-family: "FiraCode Nerd Font";
    font-size: 16px;
}

/* Строка ввода */
#input {
    margin: 5px;
    border: none;
    background-color: #3c3836;
    color: #ebdbb2;
    border-radius: 8px;
    padding: 10px;
}

/* Внутренний контейнер */
#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

/* Элементы списка */
#entry {
    margin: 2px 5px;
    border: none;
    background-color: transparent;
    color: #ebdbb2; /* Светлый текст */
    padding: 8px;
    border-radius: 6px;
}

/* Выделенный элемент */
#entry:selected {
    background-color: #d79921; /* Акцентный цвет (желтый) */
    color: #282828; /* Темный текст */
    font-weight: bold;
}
